<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title" charset="utf-8">
        <title>Books - My Biblio</title>
    </head>
    <body>
        <div class="wrap">
            <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="../index.html">Mucht Books</a>
                            <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="../index.html">Home</a>
                                </li>
                                <li class="active">
                                    <a href="./indexBooks.html">Books</a>
                                </li>
                                <li>
                                    <a href="./indexAuthors.html">Authors</a>
                                </li>
                                <li>
                                    <a href="./indexEditors.html">Editors</a>
                                </li>
                                <li>
                                    <a href="./indexCategories.html">Categories</a>
                                </li>
                            </ul>
                            <div class="navbar-right">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="./login.html">Log in</a>
                                    </li>
                                    <li>
                                        <a href="./register.html">Register</a>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Search">
                                    </div>
                                    <button class="btn btn-default" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="../index.html">Home</a></li>
                    <li class="active">Books</li>
                </ul>
                <aside>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <h2 class="panel-title">Filtres</h2>
                          </div>
                          <div class="panel-body">
                              <ul class="list-group">
                                  <li class="list-group-item">
                                    <span class="badge">(14)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(2)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(1)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(5)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(9)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(4)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(21)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(8)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(9)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(16)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(12)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(17)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(20)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(1)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(11)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(8)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(3)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(1)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(12)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                                  <li class="list-group-item">
                                    <span class="badge">(34)</span>
                                    <a href="./indexBooks.html?catid=">Category title</a>
                                  </li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </aside>
                <div class="content">
                    <section>
                        <div class="col-lg-9">
                            <div class="panel panel-primary">
                              <div class="panel-heading">
                                  <h2>Books available</h2>
                              </div>
                              <div class="panel-body">
                                  <ol class="list-group">
                                      <li class="list-group-item clearfix">
                                          <h3><a href="./showBooks.html">Book title</a></h3>
                                          <p>
                                              <a href="./showCategories.html">
                                                  <span class="label label-warning">Category</span>
                                              </a>
                                              <a href="./showCategories.html">
                                                  <span class="label label-warning">Category</span>
                                              </a>
                                              <a href="./showCategories.html">
                                                  <span class="label label-warning">Category</span>
                                              </a>
                                          </p>
                                          <div class="col-lg-9 clearfix">
                                              <h4 class="list-item">
                                                  <a href="./showAuthors.html">Autor</a> - <a href="./showEditors.html">Editor</a>
                                              </h4>
                                              <p class="list-item">
                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
                                              </p>
                                              <p class="list-item">
                                                  <a href="./showBooks.html" class="btn btn-primary btn-xs">Read more</a>
                                              </p>
                                          </div>
                                          <img class="covers list-item" src="../img/cover.jpg" alt="book cover" />
                                      </li>
                                      <li class="list-group-item clearfix">
                                          <h3><a href="./showBooks.html">Book title</a></h3>
                                          <p>
                                              <a href="./showCategories.html">
                                                  <span class="label label-warning">Category</span>
                                              </a>
                                              <a href="./showCategories.html">
                                                  <span class="label label-warning">Category</span>
                                              </a>
                                              <a href="./showCategories.html">
                                                  <span class="label label-warning">Category</span>
                                              </a>
                                          </p>
                                          <div class="col-lg-9 clearfix">
                                              <h4 class="list-item">
                                                  <a href="./showAuthors.html">Autor</a> - <a href="./showEditors.html">Editor</a>
                                              </h4>
                                              <p class="list-item">
                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
                                              </p>
                                              <p class="list-item">
                                                  <a href="./showBooks.html" class="btn btn-primary btn-xs">Read more</a>
                                              </p>
                                          </div>
                                          <img class="covers list-item" src="../img/cover.jpg" alt="book cover" />
                                      </li>
                                      <li class="list-group-item clearfix">
                                          <h3><a href="./showBooks.html">Book title</a></h3>
                                          <p>
                                              <a href="./showCategories.html">
                                                  <span class="label label-warning">Category</span>
                                              </a>
                                              <a href="./showCategories.html">
                                                  <span class="label label-warning">Category</span>
                                              </a>
                                              <a href="./showCategories.html">
                                                  <span class="label label-warning">Category</span>
                                              </a>
                                          </p>
                                          <div class="col-lg-9 clearfix">
                                              <h4 class="list-item">
                                                  <a href="./showAuthors.html">Autor</a> - <a href="./showEditors.html">Editor</a>
                                              </h4>
                                              <p class="list-item">
                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
                                              </p>
                                              <p class="list-item">
                                                  <a href="./showBooks.html" class="btn btn-primary btn-xs">Read more</a>
                                              </p>
                                          </div>
                                          <img class="covers list-item" src="../img/cover.jpg" alt="book cover" />
                                      </li>
                                  </ol>
                              </div>
                              <div class="panel-footer text-center">
                                  <ul class="pagination">
                                      <li class="disabled"><a href="#">&laquo;</a></li>
                                      <li class="active"><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li><a href="#">&raquo;</a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <footer>
            <div class="text-center col-lg-12 text-muted">
                <p>
                    <small>&copy; Designed by Mucht with bootstrap Superhero</small>
                </p>
            </div>
        </footer>
    </body>
</html>
